<!-- Company details page -->

<h1><%=@name%></h1>

<h2><%= @city%>, <%= @state%></h2>

<h3>Contacts</h3>

<ul>
  <% for contact in @contacts%>
  <li><%=contact["first_name"]%> <%=contact["last_name"]%></li>
  <%end%>
</ul>

<p>
  <a href="/contacts/new?company_id=<%=params["id"]%>/">New Contact</a>
</p>

<p>
  <a href="/companies/">Back to All Companies</a>
</p>